openapi: 3.0.3
info:
  title: SyncHub API
  version: 0.1.0
  description: REST API for SyncHub workspace synchronization.
servers:
  - url: https://sync.likanug.app
security:
  - bearerAuth: []
tags:
  - name: Health
  - name: Metrics
  - name: Auth
  - name: File
  - name: Account
  - name: Billing
  - name: Metadata
  - name: Upload
  - name: Download
  - name: Sync
paths:
  /version:
    get:
      tags: [Health]
      summary: Version information
      security: []
      responses:
        "200":
          description: Running service version.
          headers:
            X-Trace-ID:
              description: Request trace identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIResponse"
  /healthz:
    get:
      tags: [Health]
      summary: Health check
      security: []
      responses:
        "200":
          description: Process is alive.
          headers:
            X-Trace-ID:
              description: Request trace identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIResponse"
  /readyz:
    get:
      tags: [Health]
      summary: Readiness check
      security: []
      responses:
        "200":
          description: Service is ready.
          headers:
            X-Trace-ID:
              description: Request trace identifier.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadinessResponse"
  /metrics:
    get:
      tags: [Metrics]
      summary: Prometheus-compatible API metrics
      security: []
      responses:
        "200":
          description: Process-local request counters and duration totals.
          content:
            text/plain:
              schema:
                type: string
  /api/v1/account/usage:
    get:
      tags: [Account]
      summary: Current user's storage usage and quota
      responses:
        "200":
          description: Logical file usage and configured quota. A zero quota means unlimited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageUsageResponse"
  /api/v1/account:
    delete:
      tags: [Account]
      summary: Permanently delete the current account and its data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
                password:
                  type: string
                  description: Required for password accounts and omitted for OAuth-only accounts.
      responses:
        "200": { description: Account permanently deleted. }
        "401": { description: Email or password confirmation failed. }
  /api/v1/billing/plans:
    get:
      tags: [Billing]
      summary: List available subscription plans
      security: []
      responses:
        "200":
          description: Public plan catalog.
  /api/v1/account/billing:
    get:
      tags: [Billing]
      summary: Current account billing overview
      responses:
        "200":
          description: Subscription and payment provider state.
  /api/v1/account/subscription/cancel:
    post:
      tags: [Billing]
      summary: Cancel renewal at the end of the current billing period
      responses:
        "200":
          description: Updated subscription.
  /api/v1/account/subscription/resume:
    post:
      tags: [Billing]
      summary: Resume automatic renewal
      responses:
        "200":
          description: Updated subscription.
  /api/v1/account/api-keys:
    get:
      tags: [Account]
      summary: List current account API keys
      responses:
        "200":
          description: API key metadata. Secrets are never returned.
    post:
      tags: [Account]
      summary: Create an application-bound API key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, application]
              properties:
                name:
                  type: string
                application:
                  type: string
                  enum: [kvideo, latestnews]
      responses:
        "201":
          description: API key metadata and its one-time secret.
  /api/v1/account/api-keys/{id}:
    delete:
      tags: [Account]
      summary: Revoke an API key
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: API key revoked.
  /api/v1/metadata/capabilities:
    get:
      tags: [Metadata]
      summary: Discover the public application metadata sync contract
      security: []
      responses:
        "200":
          description: Authentication scheme, document limit, applications, and collections.
    options:
      tags: [Metadata]
      summary: Browser CORS preflight
      security: []
      responses:
        "204": { description: Preflight accepted. }
  /api/v1/metadata/{application}/{collection}:
    options:
      tags: [Metadata]
      summary: Browser CORS preflight
      security: []
      parameters:
        - name: application
          in: path
          required: true
          schema: { type: string, enum: [kvideo, latestnews] }
        - name: collection
          in: path
          required: true
          schema: { type: string }
      responses:
        "204": { description: Preflight accepted. }
    get:
      tags: [Metadata]
      summary: Read an application metadata document
      security: [{ apiKeyAuth: [] }]
      parameters:
        - name: application
          in: path
          required: true
          schema: { type: string, enum: [kvideo, latestnews] }
        - name: collection
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Metadata payload and version. }
    put:
      tags: [Metadata]
      summary: Replace an application metadata document
      security: [{ apiKeyAuth: [] }]
      parameters:
        - name: application
          in: path
          required: true
          schema: { type: string, enum: [kvideo, latestnews] }
        - name: collection
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Updated metadata payload and version. }
  /api/v1/auth/register:
    post:
      tags: [Auth]
      summary: Register user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthRequest"
      responses:
        "201":
          description: User and tokens.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
  /api/v1/auth/providers:
    get:
      tags: [Auth]
      summary: List configured login providers
      security: []
      responses:
        "200": { description: Available OAuth providers. }
  /api/v1/auth/github:
    get:
      tags: [Auth]
      summary: Start GitHub OAuth2 login
      security: []
      responses:
        "302": { description: Redirect to GitHub authorization. }
  /api/v1/auth/github/callback:
    get:
      tags: [Auth]
      summary: Complete GitHub OAuth2 authorization
      security: []
      responses:
        "302": { description: Redirect to the management UI with a one-time login code. }
  /api/v1/auth/oauth/exchange:
    post:
      tags: [Auth]
      summary: Exchange a one-time OAuth login code for SyncHub tokens
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
      responses:
        "200":
          description: User and SyncHub tokens.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
  /api/v1/auth/login:
    post:
      tags: [Auth]
      summary: Login user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthRequest"
      responses:
        "200":
          description: User and tokens.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
  /api/v1/auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
      responses:
        "200":
          description: Token pair.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
  /api/v1/auth/logout:
    post:
      tags: [Auth]
      summary: Revoke refresh token
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token:
                  type: string
      responses:
        "200":
          description: Logged out.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIResponse"
  /api/v1/files:
    get:
      tags: [File]
      summary: List files
      parameters:
        - name: parent_id
          in: query
          schema:
            type: string
        - name: cursor
          in: query
          description: ID of the last item from the previous page.
          schema:
            type: string
        - name: page_size
          in: query
          schema:
            type: integer
            maximum: 200
            default: 100
      responses:
        "200":
          description: File list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileListResponse"
  /api/v1/trash:
    get:
      tags: [File]
      summary: List top-level deleted files and directories
      parameters:
        - name: cursor
          in: query
          description: ID of the last deleted item from the previous page.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [success, error]
                  description: Optional result of a completed sync cycle.
                error:
                  type: string
                  maxLength: 1000
                  description: Error summary when status is error.
        - name: page_size
          in: query
          schema:
            type: integer
            maximum: 200
            default: 100
      responses:
        "200":
          description: Deleted file list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrashListResponse"
  /api/v1/trash/{id}:
    delete:
      tags: [File]
      summary: Permanently delete a trashed file or directory tree
      description: Deletes metadata and version history. Immutable storage objects are retained for asynchronous garbage collection.
      parameters:
        - $ref: "#/components/parameters/FileID"
      responses:
        "200":
          description: The selected trash item was permanently deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIResponse"
        "404":
          description: Deleted file not found.
  /api/v1/trash/{id}/restore:
    post:
      tags: [File]
      summary: Restore a trashed file or directory tree
      parameters:
        - $ref: "#/components/parameters/FileID"
      responses:
        "200":
          description: Restored file metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileResponse"
  /api/v1/files/by-path:
    get:
      tags: [File]
      summary: Get file by path
      parameters:
        - name: path
          in: query
          required: true
          schema:
            type: string
            example: /workspace/readme.txt
      responses:
        "200":
          description: File metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileResponse"
  /api/v1/files/{id}:
    get:
      tags: [File]
      summary: Get file by id
      parameters:
        - $ref: "#/components/parameters/FileID"
      responses:
        "200":
          description: File metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileResponse"
    patch:
      tags: [File]
      summary: Move or rename file
      parameters:
        - $ref: "#/components/parameters/FileID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [path]
              properties:
                path:
                  type: string
                device_id:
                  type: string
                  description: Optional source device id for sync change attribution.
                base_version:
                  type: integer
                  nullable: true
                  description: Optional optimistic concurrency base version. Requests with a stale value return FILE_CONFLICT and create a sync conflict record.
      responses:
        "200":
          description: Updated file metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileResponse"
    delete:
      tags: [File]
      summary: Delete file
      parameters:
        - $ref: "#/components/parameters/FileID"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                device_id:
                  type: string
                  description: Optional source device id for sync change attribution.
                base_version:
                  type: integer
                  nullable: true
                  description: Optional optimistic concurrency base version. Requests with a stale value return FILE_CONFLICT and create a sync conflict record.
      responses:
        "200":
          description: Deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIResponse"
  /api/v1/files/{id}/versions:
    get:
      tags: [File]
      summary: List file versions
      parameters:
        - $ref: "#/components/parameters/FileID"
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 500
      responses:
        "200":
          description: File version history.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileVersionListResponse"
  /api/v1/files/{id}/versions/{version}/restore:
    post:
      tags: [File]
      summary: Restore file to a historical version
      parameters:
        - $ref: "#/components/parameters/FileID"
        - name: version
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                device_id:
                  type: string
                  description: Optional source device id for sync change attribution.
      responses:
        "200":
          description: Restored file metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileRestoreResponse"
  /api/v1/files/{id}/versions/{version}/pin:
    post:
      tags: [File]
      summary: Pin file version
      parameters:
        - $ref: "#/components/parameters/FileID"
        - name: version
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Pinned file version.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileVersionResponse"
    delete:
      tags: [File]
      summary: Unpin file version
      parameters:
        - $ref: "#/components/parameters/FileID"
        - name: version
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Unpinned file version.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileVersionResponse"
  /api/v1/files/directories:
    post:
      tags: [File]
      summary: Create directory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [path]
              properties:
                path:
                  type: string
                  example: /workspace
                device_id:
                  type: string
                  description: Optional source device id for sync change attribution.
      responses:
        "201":
          description: Created directory.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileResponse"
  /api/v1/files/{id}/content:
    get:
      tags: [Download]
      summary: Download file content
      parameters:
        - $ref: "#/components/parameters/FileID"
        - name: Range
          in: header
          schema:
            type: string
            example: bytes=0-1023
        - name: If-None-Match
          in: header
          schema:
            type: string
      responses:
        "200":
          description: File content.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "206":
          description: Partial file content.
  /api/v1/uploads:
    post:
      tags: [Upload]
      summary: Initialize chunk upload
      parameters:
        - in: header
          name: Idempotency-Key
          required: false
          schema:
            type: string
          description: Reuses the existing upload session when the same user retries with the same key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UploadInitRequest"
      responses:
        "201":
          description: Upload session.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadResponse"
  /api/v1/uploads/{id}:
    get:
      tags: [Upload]
      summary: Get upload status
      parameters:
        - $ref: "#/components/parameters/UploadID"
      responses:
        "200":
          description: Upload status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadResponse"
    delete:
      tags: [Upload]
      summary: Abort upload session
      description: Marks a pending upload as aborted and removes uploaded staging chunks. Repeated aborts are idempotent.
      parameters:
        - $ref: "#/components/parameters/UploadID"
      responses:
        "200":
          description: Aborted upload session.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadResponse"
        "410":
          description: The upload was already committed or expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIResponse"
  /api/v1/uploads/{id}/chunks/{index}:
    put:
      tags: [Upload]
      summary: Upload chunk
      parameters:
        - $ref: "#/components/parameters/UploadID"
        - name: index
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
        - name: X-Chunk-Sha256
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: Uploaded chunk.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChunkResponse"
  /api/v1/uploads/{id}/commit:
    post:
      tags: [Upload]
      summary: Commit upload session
      parameters:
        - $ref: "#/components/parameters/UploadID"
      responses:
        "200":
          description: Committed upload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommitResponse"
  /api/v1/devices:
    get:
      tags: [Sync]
      summary: List devices
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 500
      responses:
        "200":
          description: User devices.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceListResponse"
    post:
      tags: [Sync]
      summary: Register device
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, platform]
              properties:
                name:
                  type: string
                  example: work-laptop
                platform:
                  type: string
                  example: windows
      responses:
        "201":
          description: Registered device.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceResponse"
  /api/v1/devices/{id}:
    delete:
      tags: [Sync]
      summary: Revoke a registered device
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Device revoked.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIResponse"
        "404":
          description: Device not found for the current user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIResponse"
  /api/v1/devices/{id}/heartbeat:
    post:
      tags: [Sync]
      summary: Update device heartbeat
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Updated device.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceResponse"
  /api/v1/activity:
    get:
      tags: [Activity]
      summary: List the current user's file activity
      parameters:
        - name: file_id
          in: query
          schema:
            type: string
          description: Limit activity to one file.
        - name: before_event_id
          in: query
          schema:
            type: integer
            minimum: 0
          description: Return events older than this event id.
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
      responses:
        "200":
          description: Activity page ordered from newest to oldest.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeListResponse"
  /api/v1/sync/changes:
    get:
      tags: [Sync]
      summary: Pull change events
      parameters:
        - name: device_id
          in: query
          required: true
          schema:
            type: string
        - name: after_change_id
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 500
            maximum: 500
      responses:
        "200":
          description: Change feed page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeListResponse"
        "410":
          description: Sync cursor expired or outside the available change feed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIResponse"
  /api/v1/sync/ack:
    post:
      tags: [Sync]
      summary: Acknowledge applied changes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_id, last_applied_change_id]
              properties:
                device_id:
                  type: string
                last_applied_change_id:
                  type: integer
      responses:
        "200":
          description: Updated device cursor.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceResponse"
  /api/v1/sync/conflicts:
    get:
      tags: [Sync]
      summary: List sync conflicts
      parameters:
        - name: resolution
          in: query
          schema:
            type: string
            enum: [pending, keep_local, keep_remote, keep_both]
            default: pending
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 500
      responses:
        "200":
          description: Sync conflicts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncConflictListResponse"
  /api/v1/sync/conflicts/{id}:
    patch:
      tags: [Sync]
      summary: Resolve sync conflict
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [resolution]
              properties:
                resolution:
                  type: string
                  enum: [keep_local, keep_remote, keep_both]
      responses:
        "200":
          description: Updated sync conflict.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncConflictResponse"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  parameters:
    FileID:
      name: id
      in: path
      required: true
      schema:
        type: string
    UploadID:
      name: id
      in: path
      required: true
      schema:
        type: string
  schemas:
    APIResponse:
      type: object
      properties:
        code:
          oneOf:
            - type: integer
            - type: string
        message:
          type: string
        data:
          type: object
    AuthRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
    AuthResponse:
      allOf:
        - $ref: "#/components/schemas/APIResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                user:
                  $ref: "#/components/schemas/User"
                tokens:
                  $ref: "#/components/schemas/TokenPair"
    TokenResponse:
      allOf:
        - $ref: "#/components/schemas/APIResponse"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/TokenPair"
    TokenPair:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        expires_in:
          type: integer
    StorageUsageResponse:
      allOf:
        - $ref: "#/components/schemas/APIResponse"
        - type: object
          properties:
            data:
              type: object
              required: [file_count, bytes_used, quota_bytes]
              properties:
                file_count:
                  type: integer
                  format: int64
                bytes_used:
                  type: integer
                  format: int64
                quota_bytes:
                  type: integer
                  format: int64
                  description: Per-user quota in bytes; zero means unlimited.
    ReadinessResponse:
      allOf:
        - $ref: "#/components/schemas/APIResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                status:
                  type: string
                  example: ready
                checks:
                  type: object
                  additionalProperties:
                    type: object
                    properties:
                      status:
                        type: string
                        example: ready
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        status:
          type: string
    FileNode:
      type: object
      properties:
        id:
          type: string
        parent_id:
          type: string
          nullable: true
        name:
          type: string
        path:
          type: string
        node_type:
          type: string
          enum: [file, directory]
        size:
          type: integer
        sha256:
          type: string
          nullable: true
        version:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    FileVersion:
      type: object
      properties:
        id:
          type: string
        file_id:
          type: string
        version:
          type: integer
        size:
          type: integer
        sha256:
          type: string
        pinned_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
    FileResponse:
      allOf:
        - $ref: "#/components/schemas/APIResponse"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/FileNode"
    FileListResponse:
      allOf:
        - $ref: "#/components/schemas/APIResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: "#/components/schemas/FileNode"
                next_cursor:
                  type: string
    TrashListResponse:
      allOf:
        - $ref: "#/components/schemas/FileListResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                retention_days:
                  type: integer
                  format: int64
                  description: Days before automatic permanent deletion; zero means disabled.
    FileVersionListResponse:
      allOf:
        - $ref: "#/components/schemas/APIResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: "#/components/schemas/FileVersion"
    FileVersionResponse:
      allOf:
        - $ref: "#/components/schemas/APIResponse"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/FileVersion"
    FileRestoreResponse:
      allOf:
        - $ref: "#/components/schemas/APIResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                file:
                  $ref: "#/components/schemas/FileNode"
                change_id:
                  type: integer
    UploadInitRequest:
      type: object
      required: [path, size, sha256]
      properties:
        path:
          type: string
        size:
          type: integer
        sha256:
          type: string
        chunk_size:
          type: integer
        base_version:
          type: integer
          nullable: true
        device_id:
          type: string
          description: Optional source device id used to mark generated change events.
          nullable: true
    UploadSession:
      type: object
      properties:
        upload_id:
          type: string
        path:
          type: string
        chunk_size:
          type: integer
        expires_at:
          type: string
          format: date-time
        status:
          type: string
        uploaded_chunks:
          type: array
          items:
            $ref: "#/components/schemas/UploadChunk"
    UploadChunk:
      type: object
      properties:
        chunk_index:
          type: integer
        size:
          type: integer
        sha256:
          type: string
    UploadResponse:
      allOf:
        - $ref: "#/components/schemas/APIResponse"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/UploadSession"
    ChunkResponse:
      allOf:
        - $ref: "#/components/schemas/APIResponse"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/UploadChunk"
    CommitResponse:
      allOf:
        - $ref: "#/components/schemas/APIResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                file_id:
                  type: string
                version:
                  type: integer
                change_id:
                  type: integer
    Device:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        platform:
          type: string
        last_seen_at:
          type: string
          format: date-time
          nullable: true
        last_sync_at:
          type: string
          format: date-time
          nullable: true
        last_sync_status:
          type: string
          enum: [success, error]
          nullable: true
        last_sync_error:
          type: string
          nullable: true
        last_applied_change_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    DeviceResponse:
      allOf:
        - $ref: "#/components/schemas/APIResponse"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/Device"
    DeviceListResponse:
      allOf:
        - $ref: "#/components/schemas/APIResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: "#/components/schemas/Device"
    ChangeEvent:
      type: object
      properties:
        id:
          type: integer
        file_id:
          type: string
        event_type:
          type: string
          enum: [create, update, move, delete, restore]
        version:
          type: integer
          nullable: true
        path:
          type: string
        old_path:
          type: string
          nullable: true
        source_device_id:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
    ChangeListResponse:
      allOf:
        - $ref: "#/components/schemas/APIResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: "#/components/schemas/ChangeEvent"
                next_cursor:
                  type: integer
    SyncConflict:
      type: object
      properties:
        id:
          type: string
        file_id:
          type: string
          nullable: true
        path:
          type: string
        local_version:
          type: integer
          nullable: true
        remote_version:
          type: integer
          nullable: true
        resolution:
          type: string
          enum: [pending, keep_local, keep_remote, keep_both]
        created_at:
          type: string
          format: date-time
        resolved_at:
          type: string
          format: date-time
          nullable: true
    SyncConflictListResponse:
      allOf:
        - $ref: "#/components/schemas/APIResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: "#/components/schemas/SyncConflict"
    SyncConflictResponse:
      allOf:
        - $ref: "#/components/schemas/APIResponse"
        - type: object
          properties:
            data:
              $ref: "#/components/schemas/SyncConflict"
